{% extends 'base.html' %}

{%block head%}
{%endblock%}

{% block body %}

<div class="navbar">
  <ul>
    <li><button id="homeBtn" class="navButton">Home</button></li>
    <li><button id="addProductBtn" class="navButton">Add Product</button></li>
      <li><button id="myProductsBtn" class="navButton">My Products</button></li>
  </ul>
</div>

<div class="containerr">
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Card one</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">Read More</a>
      </div>
    </div>
    
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Card Three</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>

{%endblock%}